# **Daily Challenge**

In [1]:
import pandas as pd
df=pd.read_csv('datascience_salaries.csv')
print(df.head())

   Unnamed: 0       job_title   job_type experience_level       location  \
0           0  Data scientist  Full Time           Senior  New York City
1           2  Data scientist  Full Time           Senior         Boston
2           3  Data scientist  Full Time           Senior         London
3           4  Data scientist  Full Time           Senior         Boston
4           5  Data scientist  Full Time           Senior  New York City

  salary_currency  salary
0             USD  149000
1             USD  120000
2             USD   68000
3             USD  120000
4             USD  149000

In [5]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.decomposition import PCA
numeric_features = df.select_dtypes(include=['float64', 'int64'])
scaler=MinMaxScaler()
scaled_features=scaler.fit_transform(numeric_features)
df_scaled=pd.DataFrame(scaled_features, columns=numeric_features.columns)
print(df_scaled.head())

df['normalized_salary']=scaler.fit_transform(df[['salary']])
print(df[['salary', 'normalized_salary']].head())

   Unnamed: 0    salary  normalized_salary
0    0.000000  0.601010           0.601010
1    0.000885  0.454545           0.454545
2    0.001328  0.191919           0.191919
3    0.001771  0.454545           0.454545
4    0.002213  0.601010           0.601010
   salary  normalized_salary
0  149000           0.601010
1  120000           0.454545
2   68000           0.191919
3  120000           0.454545
4  149000           0.601010

In [6]:
features=df.drop(columns=['salary', 'experience_level'])
pca=PCA(n_components=2)
principal_components=pca.fit_transform(scaled_features)
df_pca=pd.DataFrame(data=principal_components, columns=['PC1', 'PC2'])
print(df_pca.head())

        PC1       PC2
0 -0.397325  0.611212
1 -0.401592  0.404122
2 -0.410387  0.032816
3 -0.400707  0.404099
4 -0.395112  0.611157

In [7]:
salary_stats = df.groupby('experience_level')['salary'].agg(['mean', 'median']).reset_index()

print(df_pca.head())


print(salary_stats)

        PC1       PC2
0 -0.397325  0.611212
1 -0.401592  0.404122
2 -0.410387  0.032816
3 -0.400707  0.404099
4 -0.395112  0.611157
  experience_level          mean   median
0            Entry  36111.111111  30000.0
1        Executive  76076.923077  46000.0
2              Mid  51786.885246  51000.0
3           Senior  75088.033012  68000.0