# **EXERCISES XP**

# **Exercise 1: Duplicate Detection and Removal**

In [67]:
import pandas as pd

In [68]:

titanic_data = pd.read_csv('train.csv')

print(titanic_data.head())
print(titanic_data.info())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [69]:
# Remove duplicate rows
titanic_data= titanic_data.drop_duplicates()

# Verify duplicates are removed
print(titanic_data.duplicated().sum())

print(titanic_data.drop_duplicates())

0
     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

# **Exercise 2: Handling Missing Values**

df=titanic_data
print(titanic_data.head())

In [70]:
df=titanic_data
# Check for missing values in a DataFrame
missing_data = df.isnull()
# print(missing_data.head())

# Count missing values in each column
missing_counts = df.isnull().sum()
# print(missing_counts)

columns_with_missing = missing_counts[missing_counts > 0]
# print(columns_with_missing)

columns_with_missing = missing_counts[missing_counts > 0]
print(columns_with_missing)

Age         177
Cabin       687
Embarked      2
dtype: int64

In [71]:
df_filled = df.fillna(0)

print(df)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

In [72]:
cleaned_data=df.dropna()
#drop row with mis val
print(cleaned_data)
print(df.head())

     PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
6              7         0       1
10            11         1       3
11            12         1       1
..           ...       ...     ...
871          872         1       1
872          873         0       1
879          880         1       1
887          888         1       1
889          890         1       1

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                              McCarthy, Mr. Timothy J    male  54.0      0
10                     Sandstrom, Miss. Marguerite Rut  female   4.0      1
11                            Bonnell, Miss. Elizabeth  female  58.0      0
..                                                 ...     ...   ...    ...
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
872                           Carlsson, Mr. Frans Olof    male  33.0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
889                              Behr, Mr. Karl Howell    male  26.0      0

     Parch    Ticket     Fare        Cabin Embarked
1        0  PC 17599  71.2833          C85        C
3        0    113803  53.1000         C123        S
6        0     17463  51.8625          E46        S
10       1   PP 9549  16.7000           G6        S
11       0    113783  26.5500         C103        S
..     ...       ...      ...          ...      ...
871      1     11751  52.5542          D35        S
872      0       695   5.0000  B51 B53 B55        S
879      1     11767  83.1583          C50        C
887      0    112053  30.0000          B42        S
889      0    111369  30.0000         C148        C

[183 rows x 12 columns]
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [73]:
from sklearn.impute import SimpleImputer

# Numeric columns
numeric_columns = df.select_dtypes(include='number').columns
imputer_num = SimpleImputer(strategy='mean')
df[numeric_columns] = imputer_num.fit_transform(df[numeric_columns])

# Categorical columns
categorical_columns = df.select_dtypes(include='object').columns
imputer_cat = SimpleImputer(strategy='most_frequent')
df[categorical_columns] = imputer_cat.fit_transform(df[categorical_columns])

print(df.head())

   PassengerId  Survived  Pclass  \
0          1.0       0.0     3.0
1          2.0       1.0     1.0
2          3.0       1.0     3.0
3          4.0       1.0     1.0
4          5.0       0.0     3.0

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0    1.0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0    1.0
2                             Heikkinen, Miss. Laina  female  26.0    0.0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0    1.0
4                           Allen, Mr. William Henry    male  35.0    0.0

   Parch            Ticket     Fare    Cabin Embarked
0    0.0         A/5 21171   7.2500  B96 B98        S
1    0.0          PC 17599  71.2833      C85        C
2    0.0  STON/O2. 3101282   7.9250  B96 B98        S
3    0.0            113803  53.1000     C123        S
4    0.0            373450   8.0500  B96 B98        S

# **EXERCISE 3**

In [74]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler

#create features
df['FamilySize'] = df['SibSp'] + df['Parch'] + 1

# extract title from name
def extract_title(name):
    title = name.split(',')[1]
    title = title.split('.')[0].strip()
    return title

df['Title'] = df['Name'].apply(extract_title)

# LabelEncoder
label_encoder = LabelEncoder()
df['Sex'] = label_encoder.fit_transform(df['Sex'])


df = pd.get_dummies(df, columns=['Embarked'], drop_first=True)
df = pd.get_dummies(df, columns=['Title'], drop_first=True)


df.drop(columns=['Name'], inplace=True)


numerical_columns = df.select_dtypes(include='number').columns
scaler = StandardScaler()
df[numerical_columns] = scaler.fit_transform(df[numerical_columns])

print(df.head())

   PassengerId  Survived    Pclass       Sex       Age     SibSp     Parch  \
0    -1.730108 -0.789272  0.827377  0.737695 -0.592481  0.432793 -0.473674
1    -1.726220  1.266990 -1.566107 -1.355574  0.638789  0.432793 -0.473674
2    -1.722332  1.266990  0.827377 -1.355574 -0.284663 -0.474545 -0.473674
3    -1.718444  1.266990 -1.566107 -1.355574  0.407926  0.432793 -0.473674
4    -1.714556 -0.789272  0.827377  0.737695  0.407926 -0.474545 -0.473674

             Ticket      Fare    Cabin  ...  Title_Master  Title_Miss  \
0         A/5 21171 -0.502445  B96 B98  ...         False       False
1          PC 17599  0.786845      C85  ...         False       False
2  STON/O2. 3101282 -0.488854  B96 B98  ...         False        True
3            113803  0.420730     C123  ...         False       False
4            373450 -0.486337  B96 B98  ...         False       False

   Title_Mlle  Title_Mme  Title_Mr  Title_Mrs  Title_Ms  Title_Rev  Title_Sir  \
0       False      False      True      False     False      False      False
1       False      False     False       True     False      False      False
2       False      False     False      False     False      False      False
3       False      False     False       True     False      False      False
4       False      False      True      False     False      False      False

   Title_the Countess
0               False
1               False
2               False
3               False
4               False

[5 rows x 29 columns]

# **Exercise 4: Outlier Detection and Handling**

In [75]:
# IQR
def detect_outliers_iqr(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)

    IQR = Q3 - Q1

    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    # outliers
    outliers = df[(df[column] < lower_bound) | (df[column] > upper_bound)]
    return outliers

outliers_fare = detect_outliers_iqr(titanic_data, 'Fare')
outliers_age = detect_outliers_iqr(titanic_data, 'Age')

print(f"Outliers Fare': {len(outliers_fare)}")
print(f"Outliers 'Age': {len(outliers_age)}")

Outliers Fare': 116
Outliers 'Age': 66

In [78]:
titanic_data_cleaned = titanic_data[~titanic_data['Fare'].isin(outliers_fare['Fare'])]
titanic_data_cleaned = titanic_data_cleaned[~titanic_data_cleaned['Age'].isin(outliers_age['Age'])]

print(titanic_data_cleaned.shape)

(721, 14)

In [79]:
print(titanic_data[['Fare', 'Age']].describe())


print(titanic_data_cleaned[['Fare', 'Age']].describe())

             Fare         Age
count  891.000000  891.000000
mean    32.204208   29.699118
std     49.693429   13.002015
min      0.000000    0.420000
25%      7.910400   22.000000
50%     14.454200   29.699118
75%     31.000000   35.000000
max    512.329200   80.000000
             Fare         Age
count  721.000000  721.000000
mean    17.389845   28.476085
std     13.563036   10.043466
min      0.000000    3.000000
25%      7.895800   22.000000
50%     12.275000   29.699118
75%     26.000000   33.000000
max     65.000000   54.000000

# **Exercise 5 Data Standardization**

In [80]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

titanic_data_scaled = titanic_data.copy()
# Standardization
scaler = StandardScaler()
titanic_data_scaled[numeric_columns] = scaler.fit_transform(titanic_data_scaled[numeric_columns])


print(titanic_data_scaled[numeric_columns].describe())

# Normalization
scaler_minmax = MinMaxScaler()
titanic_data_normalized = titanic_data.copy()
titanic_data_normalized[numeric_columns] = scaler_minmax.fit_transform(titanic_data_normalized[numeric_columns])


print(titanic_data_normalized[numeric_columns].describe())

        PassengerId      Survived        Pclass           Age         SibSp  \
count  8.910000e+02  8.910000e+02  8.910000e+02  8.910000e+02  8.910000e+02
mean   6.379733e-17  3.987333e-17 -8.772133e-17  2.232906e-16  4.386066e-17
std    1.000562e+00  1.000562e+00  1.000562e+00  1.000562e+00  1.000562e+00
min   -1.730108e+00 -7.892723e-01 -1.566107e+00 -2.253155e+00 -4.745452e-01
25%   -8.650540e-01 -7.892723e-01 -3.693648e-01 -5.924806e-01 -4.745452e-01
50%    0.000000e+00 -7.892723e-01  8.273772e-01  0.000000e+00 -4.745452e-01
75%    8.650540e-01  1.266990e+00  8.273772e-01  4.079260e-01  4.327934e-01
max    1.730108e+00  1.266990e+00  8.273772e-01  3.870872e+00  6.784163e+00

              Parch          Fare
count  8.910000e+02  8.910000e+02
mean   5.382900e-17  3.987333e-18
std    1.000562e+00  1.000562e+00
min   -4.736736e-01 -6.484217e-01
25%   -4.736736e-01 -4.891482e-01
50%   -4.736736e-01 -3.573909e-01
75%   -4.736736e-01 -2.424635e-02
max    6.974147e+00  9.667167e+00
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  891.000000  891.000000
mean      0.500000    0.383838    0.654321    0.367921    0.065376
std       0.289162    0.486592    0.418036    0.163383    0.137843
min       0.000000    0.000000    0.000000    0.000000    0.000000
25%       0.250000    0.000000    0.500000    0.271174    0.000000
50%       0.500000    0.000000    1.000000    0.367921    0.000000
75%       0.750000    1.000000    1.000000    0.434531    0.125000
max       1.000000    1.000000    1.000000    1.000000    1.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.063599    0.062858
std      0.134343    0.096995
min      0.000000    0.000000
25%      0.000000    0.015440
50%      0.000000    0.028213
75%      0.000000    0.060508
max      1.000000    1.000000

# **Exercise 6: Encoding**

In [81]:
titanic_data_encoded = pd.get_dummies(titanic_data, columns=['Sex', 'Embarked'], drop_first=True)

print(titanic_data_encoded.head())

   PassengerId  Survived  Pclass  \
0          1.0       0.0     3.0
1          2.0       1.0     1.0
2          3.0       1.0     3.0
3          4.0       1.0     1.0
4          5.0       0.0     3.0

                                                Name   Age  SibSp  Parch  \
0                            Braund, Mr. Owen Harris  22.0    1.0    0.0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0    1.0    0.0
2                             Heikkinen, Miss. Laina  26.0    0.0    0.0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0    1.0    0.0
4                           Allen, Mr. William Henry  35.0    0.0    0.0

             Ticket     Fare    Cabin  FamilySize Title  Sex_1  Embarked_Q  \
0         A/5 21171   7.2500  B96 B98         2.0    Mr   True       False
1          PC 17599  71.2833      C85         2.0   Mrs  False       False
2  STON/O2. 3101282   7.9250  B96 B98         1.0  Miss  False       False
3            113803  53.1000     C123         2.0   Mrs  False       False
4            373450   8.0500  B96 B98         1.0    Mr   True       False

   Embarked_S
0        True
1       False
2        True
3        True
4        True

# **Exercise 7 Data Transformation**

In [82]:
age_bins = [0, 12, 18, 35, 50, 65, 100]
age_labels = ['Child', 'Teenage', 'Young', 'Middle', 'Senior', 'Elderly']

age_groups = pd.cut(df['Age'], bins=age_bins, labels=age_labels)
df = pd.concat([df, pd.get_dummies(age_groups, prefix='AgeGroup')], axis=1)

print(df.head())

   PassengerId  Survived    Pclass       Sex       Age     SibSp     Parch  \
0    -1.730108 -0.789272  0.827377  0.737695 -0.592481  0.432793 -0.473674
1    -1.726220  1.266990 -1.566107 -1.355574  0.638789  0.432793 -0.473674
2    -1.722332  1.266990  0.827377 -1.355574 -0.284663 -0.474545 -0.473674
3    -1.718444  1.266990 -1.566107 -1.355574  0.407926  0.432793 -0.473674
4    -1.714556 -0.789272  0.827377  0.737695  0.407926 -0.474545 -0.473674

             Ticket      Fare    Cabin  ...  Title_Ms  Title_Rev  Title_Sir  \
0         A/5 21171 -0.502445  B96 B98  ...     False      False      False
1          PC 17599  0.786845      C85  ...     False      False      False
2  STON/O2. 3101282 -0.488854  B96 B98  ...     False      False      False
3            113803  0.420730     C123  ...     False      False      False
4            373450 -0.486337  B96 B98  ...     False      False      False

   Title_the Countess  AgeGroup_Child  AgeGroup_Teenage  AgeGroup_Young  \
0               False           False             False           False
1               False            True             False           False
2               False           False             False           False
3               False            True             False           False
4               False            True             False           False

   AgeGroup_Middle  AgeGroup_Senior  AgeGroup_Elderly
0            False            False             False
1            False            False             False
2            False            False             False
3            False            False             False
4            False            False             False

[5 rows x 35 columns]